{% extends 'main.html' %}

{% block content %}

<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

</style>

<div class="home-container">

    <div>
        <h3> Browse Events</h3>
        <hr>

        <div>
            <a href="{% url 'home' %}">All</a>
        </div>

        {% for event in events %}
        <div>
            <a href="{% url 'home' %}?q={{event.sport_type_sport_type}}">{{event.sport_type}}</a>
        </div>
        {% endfor %}
    </div>


    <div>
        <ul>
            <h3><li><a href="/register">Register</a></li></h3>
            <h3><li><a href="/create-event">Create Event</a></li></h3>
            <h3><li><a href="/join-event">Join Event</a></li></h3>
            <h3><li><a href="/create-team">Create Team</a></li></h3>
            <h3><li><a href="/join-team">Join Team</a></li></h3>
            <h3><li><a href="/stats">Statistics</a></li></h3>
        </ul>
    </div>

</div>
{% endblock content %}