{% extends 'main.html' %}

{% block content %}

<h2>Join Event</h2>
<div>

    <h3> Event info:</h3>
    <li>Name: {{event.name}}</li>
    <li>Sport discipline: {{event.sport_type_sport_type}}</li>
    <li>City: {{event.city_name}}</li>
    <li>Date: {{event.date}}</li>
    <li>Time: {{event.hour}}</li>

<form action="" method="post">
    {% csrf_token %}
<!-- <form method="GET" action="{% url 'join-event' event.event_id %}"> -->



    <button type="submit">Join Event</button>
</form>
</div>

{% endblock content %}