{% extends 'main.html' %}

{% block content %}

<h1>Statistics</h1>

<h2>Top monthly cities</h2>
    {% for t, c in top_cities %}
        <ol>{{forloop.counter}}) {{t}} - {{c}} events</ol>
    {% endfor %}
<h2>Top monthly facilities</h2>
    {% for f in facilities %}
        <ol>{{forloop.counter}}) {{f.city_city.name}}, {{f.address}} - {{f.event_count}} events</ol>
    {% endfor %}

<h2>Top monthly sports</h2>
    {% for a, b in sport_types %}
        <ol>{{forloop.counter}}) {{a}} - {{b}} participants</ol>
    {% endfor %}
{% endblock content %}