{% extends 'main.html' %}

{% block content %}

<h2>Change Profile data</h2>

<ul>
<div>
    <form method="POST" action="">
        {% csrf_token %}
        <div>
            {{form.as_p}}
            <!-- <li>Email</li>
            Current Email: {{user.email}}
            <div>
            <label>New email:</label>
            <input type="text" name="email" placeholder="Enter Email" />
            </div> -->
        </div>
        <div>
            <input type="submit" value="Submit" />
        </div>
    </form>

</div>
</ul>
{% endblock content %}